# Análisis y visualización de datos de ventas del sector retail

## Contexto del proyecto: 

TechCore es una cadena de tiendas minoristas especializada en la venta y distribución de computadores de todas las gamas, ha contratado a DataVision Analytics para centralizar y analizar la información de sus ventas a nivel nacional. El objetivo es transformar los datos crudos de facturación en información estructurada, crear un modelo relacional y desarrollar un dashboard interactivo en Power BI que permita extraer conclusiones estratégicas. Para ello, se ha diseñado un reto técnico dirigido a candidatos para el rol de Científico de Datos Junior, cuyo objetivo es demostrar su capacidad para integrar múltiples fuentes de datos, analizarlas y generar insights accionables.
Como parte del proceso de selección para el rol de Analista de Datos Junior, DataVision Analytics ha diseñado un reto técnico en el que el candidato deberá completar las 3 fases del proyecto.

## Fase 1: Integración y limpieza de datos
### Objetivo:
Integrar y limpiar los datos de ventas provenientes de diferentes fuentes para crear un conjunto de datos unificado y estructurado.

### Tareas:
1. **Recolección de datos**: Obtener los archivos de ventas en formatos CSV 
2. **Normalización de datos**: Realizar un análisis de calidad de los datos para identificar inconsistencias, valores nulos o duplicados en Power Query.
3. **Transformación de datos**: Estandarizar formatos de fecha, nombres de productos y corregir errores tipográficos.
4. **Exportacion de los datos**: Se guardo en un archivo CSV limpio y estructurado para su posterior análisis.

## Fase 2: Creacion del modelo relacional
### Objetivo:
Desarrollar un modelo relacional usando Pandas para su posterior integración con Power BI.

### Tareas:
1. **Definición de tablas**: Identificar las entidades clave (Ventas, Productos, Clientes, Vendedores, Sucursales y Ciudades) y definir las tablas correspondientes.
2. **Relaciones entre tablas**: Establecer relaciones entre las tablas utilizando claves primarias y foráneas.
3. **Implementación del modelo**: Crear las tablas en forma de DataFrames de Pandas
4. **Validación del modelo**: Asegurar la integridad referencial y la coherencia de los datos entre las tablas.
5. **Reporte Exploratorio**: Generar un reporte exploratorio con las principales métricas.
6. **Exportacion del modelo**: Guardar las tablas en un Excel WorkBook, cada tabla en un Sheet diferente con su respectivo nombre para su uso en Power BI.

## Fase 3: Desarrollo del dashboard en Power BI
### Objetivo:
Crear un dashboard interactivo en Power BI que permita visualizar y analizar las ventas de TechCore.

### Tareas:
1. **Importación de datos**: Cargar el conjunto de datos limpio y el modelo relacional en Power BI.
2. **Definición de Paleta de Colores**: Establecer una paleta de colores coherente y profesional para el dashboard.
3. **Diseño del dashboard**: Crear visualizaciones interactivas (gráficos de barras, líneas, mapas, etc.) para mostrar las métricas clave.
4. **Interactividad**: Implementar filtros y segmentaciones para permitir a los usuarios explorar los datos de manera dinámica.
5. **Validación del dashboard**: Asegurar que todas las visualizaciones funcionen correctamente.

In [1]:
# Librerias necesarias para el analisis

import pandas as pd # Creacion de tablas y manejo de datos
import numpy as np
import matplotlib.pyplot as plt # Dependencia de Seaborn
import seaborn as sns # Visualizaciones

In [2]:
# Importacion del dataset limpio desde PowerQuery en formato CSV

df = pd.read_csv('/Users/juanv/Documents/GitHub/An-lisis-y-visualizaci-n-de-datos-de-ventas-del-sector-retail/VentasTransformed.csv', sep=';')
df.head()

,VentaID,FechaVenta,HoraVenta,SucursalNombre,VendedorNombre,ClienteNombre,GeneroCliente,EdadCliente,TelefonoCliente,DireccionCliente,...,MarcaProducto3,CantidadProducto3,PrecioUnitarioProducto3,SubtotalProducto3,DescuentoVenta,TotalVenta,CiudadSucursal,EmailClientes,Unnamed: 30,Unnamed: 31
0,1,"jueves, 31 de diciembre de 2015",5:42:43 a. m.,Techcore Pereira,Amílcar Ortega-Alberto,Bienvenida Nebot-Fiol,F,37,34806548767,Cll 52 #32-98,...,Dell,1.0,5600000.0,5600000.0,0,31200000,Pereira,bienvenida19@hotmail.com,NaN,NaN
1,2,"sábado, 23 de marzo de 2019",7:03:21 p. m.,Techcore Medellín #1,Ana Sofía Llopis Blázquez,Teófila Bueno-Novoa,F,43,34947255990,Cll 96 #81-94,...,NaN,NaN,NaN,NaN,0,10800000,Medellín,teofila35@gmail.com,NaN,NaN
2,3,"domingo, 23 de diciembre de 2018",2:32:34 a. m.,Techcore Medellín #2,Juan José Porcel-Riera,Gilberto Chamorro Catalá,M,38,34978810249,Cra 28 #79-85,...,HP,1.0,3500000.0,3500000.0,0,21900000,Medellín,gilberto57@hotmail.com,NaN,NaN
3,4,"sábado, 14 de noviembre de 2015",12:37:36 a. m.,Techcore Medellín #2,Juan José Porcel-Riera,Máximo Coronado Huerta,M,30,34825429634,Cll 5 #89-26,...,NaN,NaN,NaN,NaN,0,13600000,Medellín,maximo65@hotmail.com,NaN,NaN
4,5,"martes, 29 de noviembre de 2016",10:34:20 a. m.,Techcore Cali,Jacinta Juárez Marín,Yago Oliver,M,51,34988285275,Cra 32 #97-86,...,Microsoft,1.0,5200000.0,5200000.0,0,13900000,Cali,yago38@yahoo.com,NaN,NaN

### **Definicion de las funciones a Utilizar en Python:**

In [3]:
# Generados de Ids
def generate_ids(df, id_col, prefijo, start=1):
    """
    Genera IDs con prefijos.

    df      : DataFrame a llamar
    id_col  : nombre de la columna a crear
    prefijo : prefijo del ID 
    start   : valor inicial (default 1) 
    """
    
    df = df.reset_index(drop=True).copy()
    df[id_col] = prefijo + (df.index + start).astype(str)
    return df

# Extraer Productos Para normalizar
def extraer_productos(df):
    """
    Extrae columnas de productos (Nombre, Marca, PrecioUnitario)
    desde un DataFrame con estructura Producto1, Producto2, Producto3...

    Retorna un DataFrame con columnas: ProductoNombre, Marca y PrecioUnitario
    productos : Es la lista en la que iremos a hacer append del los productos
    """

    productos =[]
    for i in [1,2,3]:
        temp = df[
            [
                f'NombreProducto{i}',
                f'MarcaProducto{i}',
                f'PrecioUnitarioProducto{i}'
            ]
        ].copy()

        temp.columns = ['NombreProducto', 'Marca', 'PrecioUnitario'] # Lista de los nombres de las Columnas
        productos.append(temp)
        producto = pd.concat(productos, ignore_index=True)

    return producto

In [4]:
# Verificamos la limpieza realizada en Power Query
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   VentaID                  30000 non-null  int64
 1   FechaVenta               30000 non-null  object
 2   HoraVenta                30000 non-null  object
 3   SucursalNombre           30000 non-null  object
 4   VendedorNombre           30000 non-null  object
 5   ClienteNombre            30000 non-null  object
 6   GeneroCliente            30000 non-null  object
 7   EdadCliente              30000 non-null  int64
 8   TelefonoCliente          30000 non-null  object
 9   DireccionCliente         30000 non-null  object
 10  MetodoPago               30000 non-null  object
 11  NombreProducto1          30000 non-null  object
 12  MarcaProducto1           30000 non-null  object
 13  CantidadProducto1        30000 non-null  int64
 14  PrecioUnitarioProducto1  30000 non-null  int64
 15  SubtotalProducto1        30000 non-null  int64
 16  NombreProducto2          20012 non-null  object
 17  MarcaProducto2           20012 non-null  object
 18  CantidadProducto2        20012 non-null  float64
 19  PrecioUnitarioProducto2  20012 non-null  float64
 20  SubtotalProducto2        20012 non-null  float64
 21  NombreProducto3          10047 non-null  object
 22  MarcaProducto3           10047 non-null  object
 23  CantidadProducto3        10047 non-null  float64
 24  PrecioUnitarioProducto3  10047 non-null  float64
 25  SubtotalProducto3        10047 non-null  float64
 26  DescuentoVenta           30000 non-null  int64
 27  TotalVenta               30000 non-null  int64
 28  CiudadSucursal           30000 non-null  object
 29  EmailClientes            30000 non-null  object
 30  Unnamed: 30              0 non-null      float64
 31  Unnamed: 31              0 non-null      float64
dtypes: float64(8), int64(7), object(17)
memory usage: 7.3+ MB

### **Tabla de Ciudades**

In [5]:
# Tabla Ciudad

ciudades = df['CiudadSucursal'].unique()
ciudades = pd.DataFrame(ciudades, columns=['Ciudad']) # Se crea como dataframe
ciudades = generate_ids(ciudades, 'CiudadID', 'CITY-')
ciudades = ciudades[['CiudadID', 'Ciudad']] # Configuracion final del orden

ciudades

  CiudadID    Ciudad
0   CITY-1   Pereira
1   CITY-2  Medellín
2   CITY-3      Cali
3   CITY-4    Bogotá

### **Tabla de Sucursales**

Esta tabla contiene claves foráneas que hacen referencia a la tabla de Ciudades. Para crear estas claves foranesas se puede utilizar `merge` de pandas para combinar los DataFrames y obtener los IDs correspondientes.

In [6]:
# Tabla Sucursales

sucursales = df[['SucursalNombre', 'CiudadSucursal']].drop_duplicates().merge(ciudades, left_on='CiudadSucursal', right_on='Ciudad', how='left')
sucursales = generate_ids(sucursales, 'SucursalID', 'SUCURSAL-')
sucursales = sucursales[['SucursalID', 'SucursalNombre', 'CiudadID']]

sucursales

   SucursalID        SucursalNombre CiudadID
0  SUCURSAL-1      Techcore Pereira   CITY-1
1  SUCURSAL-2  Techcore Medellín #1   CITY-2
2  SUCURSAL-3  Techcore Medellín #2   CITY-2
3  SUCURSAL-4         Techcore Cali   CITY-3
4  SUCURSAL-5    Techcore Bogotá #2   CITY-4
5  SUCURSAL-6    Techcore Bogotá #1   CITY-4

### **Tabla de Vendedores**

Esta tabla contiene claves foráneas que hacen referencia a la tabla de Sucursales. Para crear estas claves foraneas se puede utilizar `merge` de pandas para combinar los DataFrames y obtener los IDs correspondientes.

In [7]:
# Tabla Vendedores

vendedores = (df[['VendedorNombre', 'SucursalNombre']].drop_duplicates().merge(sucursales[['SucursalID', 'SucursalNombre']], on='SucursalNombre')) # .merge() es para referenciar las tablas
vendedores = generate_ids(vendedores, 'VendedorID', 'VE-')
vendedores = vendedores[['VendedorID', 'VendedorNombre', 'SucursalNombre']]

vendedores

   VendedorID                   VendedorNombre        SucursalNombre
0        VE-1           Amílcar Ortega-Alberto      Techcore Pereira
1        VE-2        Ana Sofía Llopis Blázquez  Techcore Medellín #1
2        VE-3           Juan José Porcel-Riera  Techcore Medellín #2
3        VE-4             Jacinta Juárez Marín         Techcore Cali
4        VE-5         Clímaco Salinas Zabaleta         Techcore Cali
5        VE-6           Carina Parejo Carranza      Techcore Pereira
6        VE-7                 Edu Juan Pedraza    Techcore Bogotá #2
7        VE-8              Armida Azorin Plaza    Techcore Bogotá #2
8        VE-9          Rosendo Barberá Cordero         Techcore Cali
9       VE-10         Herminia Meléndez-Huguet    Techcore Bogotá #2
10      VE-11  Almudena Adelaida Lledó Garrido  Techcore Medellín #2
11      VE-12         Jose Angel Rovira Adadia      Techcore Pereira
12      VE-13              Eusebia Jara Macias  Techcore Medellín #1
13      VE-14           Basilio Marcos Barrena         Techcore Cali
14      VE-15               Olivia Armas Ayuso    Techcore Bogotá #2
15      VE-16               Ibán López Córdoba  Techcore Medellín #1
16      VE-17           Liliana Jordá Armengol  Techcore Medellín #1
17      VE-18        María Belén Alegria Camps    Techcore Bogotá #1
18      VE-19                Aura del Bermúdez    Techcore Bogotá #1
19      VE-20            Evaristo Guillen Peña    Techcore Bogotá #1
20      VE-21                     Luisina Lasa  Techcore Medellín #2
21      VE-22                     Juanito Diaz  Techcore Medellín #2
22      VE-23             Eloísa Plaza Hurtado    Techcore Bogotá #2
23      VE-24        Poncio Gabriel Poza Acedo    Techcore Bogotá #1
24      VE-25            Dominga del Alcántara  Techcore Medellín #1
25      VE-26          Anacleto Morera Segovia      Techcore Pereira
26      VE-27          Griselda Arnaiz Palacio    Techcore Bogotá #1
27      VE-28          Claudia Sastre-Quintero  Techcore Medellín #2
28      VE-29                María Ramírez Pou      Techcore Pereira
29      VE-30        Florencio Iker Vara Nebot         Techcore Cali

### **Tabla de Clientes**

In [8]:
# Tabla Clientes

clientes = df[['ClienteNombre', 'EdadCliente', 'GeneroCliente', 'TelefonoCliente', 'DireccionCliente', 'EmailClientes']].drop_duplicates()
clientes = generate_ids(clientes, 'ClienteID', 'CL-')
clientes = clientes[['ClienteID', 'ClienteNombre', 'EdadCliente', 'GeneroCliente', 'TelefonoCliente', 'DireccionCliente', 'EmailClientes']]

clientes

,ClienteID,ClienteNombre,EdadCliente,GeneroCliente,TelefonoCliente,DireccionCliente,EmailClientes
0,CL-1,Bienvenida Nebot-Fiol,37,F,34806548767,Cll 52 #32-98,bienvenida19@hotmail.com
1,CL-2,Teófila Bueno-Novoa,43,F,34947255990,Cll 96 #81-94,teofila35@gmail.com
2,CL-3,Gilberto Chamorro Catalá,38,M,34978810249,Cra 28 #79-85,gilberto57@hotmail.com
3,CL-4,Máximo Coronado Huerta,30,M,34825429634,Cll 5 #89-26,maximo65@hotmail.com
4,CL-5,Yago Oliver,51,M,34988285275,Cra 32 #97-86,yago38@yahoo.com
...,...,...,...,...,...,...,...
17448,CL-17449,Jose Miguel Rosa Arenas,26,M,34744797383,Cll 32 #35-85,jose32@yahoo.com
17449,CL-17450,Manolo Lerma,41,M,34627546892,Cll 27 #59-20,manolo78@hotmail.com
17450,CL-17451,Ildefonso Abad Amigó,26,M,34977633270,Cra 14 #68-3,ildefonso41@yahoo.com
17451,CL-17452,Gabriel Cristian Zamora Artigas,50,M,34885996094,Cll 46 #62-87,No especificado
17452,CL-17453,Paco Olivera Suárez,36,M,34976445455,Cra 45 #49-2,paco25@hotmail.com

### **Tabla de Metodos de Pago**

In [9]:
# Tabla de Metodos de Pago

metodoPago = df['MetodoPago'].drop_duplicates().unique()
metodoPago = pd.DataFrame(metodoPago, columns=['MetodoPago'])
metodoPago = generate_ids(metodoPago, 'MetodoID', 'MP-')
metodoPago = metodoPago[['MetodoID', 'MetodoPago']]

metodoPago

  MetodoID         MetodoPago
0     MP-1    Tarjeta Crédito
1     MP-2  Billetera Digital
2     MP-3     Tarjeta Débito
3     MP-4      Transferencia
4     MP-5    No Especificado
5     MP-6           Efectivo

### **Tabla de Facturas**

Esta tabla contiene claves foráneas que hacen referencia a las tablas de Clientes, Vendedores, Sucursales y Métodos de Pago. Para crear estas claves foraneas se puede utilizar `merge` de pandas para combinar los DataFrames y obtener los IDs correspondientes.

In [10]:
# Tabla Facturas

facturas = df[['VentaID', 'FechaVenta', 'HoraVenta', 'SucursalNombre', 'VendedorNombre', 'ClienteNombre', 'EmailClientes', 'MetodoPago', 'DescuentoVenta', 'TotalVenta']].drop_duplicates()
facturas = facturas.merge(sucursales, left_on='SucursalNombre', right_on='SucursalNombre', how='left')
facturas = facturas.merge(vendedores, left_on='VendedorNombre', right_on='VendedorNombre', how='left')
facturas = facturas.merge(clientes, left_on=['ClienteNombre', 'EmailClientes'], right_on=['ClienteNombre', 'EmailClientes'], how='left')
facturas = facturas.merge(metodoPago, left_on='MetodoPago', right_on='MetodoPago', how='left')
facturas = facturas[['VentaID', 'FechaVenta', 'HoraVenta', 'SucursalID', 'VendedorID', 'ClienteID', 'MetodoID', 'DescuentoVenta', 'TotalVenta']]

facturas

,VentaID,FechaVenta,HoraVenta,SucursalID,VendedorID,ClienteID,MetodoID,DescuentoVenta,TotalVenta
0,1,"jueves, 31 de diciembre de 2015",5:42:43 a. m.,SUCURSAL-1,VE-1,CL-1,MP-1,0,31200000
1,2,"sábado, 23 de marzo de 2019",7:03:21 p. m.,SUCURSAL-2,VE-2,CL-2,MP-2,0,10800000
2,3,"domingo, 23 de diciembre de 2018",2:32:34 a. m.,SUCURSAL-3,VE-3,CL-3,MP-3,0,21900000
3,4,"sábado, 14 de noviembre de 2015",12:37:36 a. m.,SUCURSAL-3,VE-3,CL-4,MP-2,0,13600000
4,5,"martes, 29 de noviembre de 2016",10:34:20 a. m.,SUCURSAL-4,VE-4,CL-5,MP-1,0,13900000
...,...,...,...,...,...,...,...,...,...
29995,29996,"jueves, 31 de diciembre de 2020",1:33:17 a. m.,SUCURSAL-3,VE-3,CL-14207,MP-1,0,6800000
29996,29997,"viernes, 14 de julio de 2017",11:29:20 a. m.,SUCURSAL-4,VE-14,CL-1586,MP-1,0,26400000
29997,29998,"sábado, 6 de abril de 2019",9:38:27 p. m.,SUCURSAL-3,VE-28,CL-17453,MP-4,0,5600000
29998,29999,"viernes, 27 de diciembre de 2024",6:49:00 a. m.,SUCURSAL-2,VE-25,CL-7089,MP-4,0,10800000
29999,30000,"miércoles, 23 de marzo de 2022",6:41:51 p. m.,SUCURSAL-6,VE-24,CL-526,MP-4,5,9025000

### **Tabla de Productos**

Esta tabla contiene una funcion llamada `extraer_productos` que itera en las 3 columnas de productos y extrae la informacion individual de cada producto.

In [11]:
# Tabla de Productos

productos = extraer_productos(df)

productos = productos.dropna(subset=['NombreProducto']).drop_duplicates().reset_index(drop=True)
productos = pd.DataFrame(productos, columns=['NombreProducto', 'Marca', 'PrecioUnitario'])
productos = generate_ids(productos, 'ProductoID', 'PD-')
productos['PrecioUnitario'] = productos['PrecioUnitario'].astype(int)
productos = productos[['ProductoID', 'NombreProducto', 'Marca', 'PrecioUnitario']]

productos

   ProductoID               NombreProducto      Marca  PrecioUnitario
0        PD-1         Apple MacBook Pro 16      Apple         9600000
1        PD-2                 Acer Nitro 5       Acer         4000000
2        PD-3           Dell Latitude 7420       Dell         5600000
3        PD-4          Asus TUF Gaming A15       Asus         4800000
4        PD-5              HP Spectre x360         HP         5200000
5        PD-6  Samsung Galaxy Book Odyssey    Samsung         6800000
6        PD-7             Lenovo IdeaPad 5     Lenovo         2800000
7        PD-8                  Dell XPS 13       Dell         4800000
8        PD-9          Lenovo Legion 5 Pro     Lenovo         7200000
9       PD-10               HP Pavilion 15         HP         3500000
10      PD-11                   HP Envy 13         HP         4000000
11      PD-12                   HP Omen 16         HP         6000000
12      PD-13             Dell Inspiron 15       Dell         3000000
13      PD-14                Apple iMac 24      Apple         6400000
14      PD-15  Samsung Galaxy Chromebook 2    Samsung         2000000
15      PD-16             Asus VivoBook 15       Asus         2400000
16      PD-17         Apple MacBook Air M1      Apple         5500000
17      PD-18           Dell Alienware m15       Dell         8000000
18      PD-19              Asus ZenBook 14       Asus         3800000
19      PD-20         Apple MacBook Pro 14      Apple         8000000
20      PD-21    Lenovo ThinkPad X1 Carbon     Lenovo         6800000
21      PD-22             MSI GS66 Stealth        MSI         8000000
22      PD-23       Microsoft Surface Go 3  Microsoft         3000000
23      PD-24               Lenovo Yoga 7i     Lenovo         4400000
24      PD-25      Samsung Galaxy Book Pro    Samsung         4800000
25      PD-26                MSI Modern 14        MSI         2800000
26      PD-27                Acer Aspire 5       Acer         2000000
27      PD-28              MSI GE76 Raider        MSI        10000000
28      PD-29     Acer Predator Helios 300       Acer         5600000
29      PD-30     Samsung Galaxy Book Flex    Samsung         5600000
30      PD-31               Razer Blade 17      Razer        10000000
31      PD-32                 Acer Swift 3       Acer         2600000
32      PD-33           Asus ROG Strix G15       Asus         6400000
33      PD-34                MSI GF65 Thin        MSI         4400000
34      PD-35       Razer Blade Stealth 13      Razer         7200000
35      PD-36      Microsoft Surface Pro 9  Microsoft         4400000
36      PD-37                Razer Book 13      Razer         6400000
37      PD-38   Microsoft Surface Laptop 4  Microsoft         5200000
38      PD-39     Microsoft Surface Book 3  Microsoft         6400000
39      PD-40               Razer Blade 15      Razer         8800000
40      PD-41               Razer Blade 17      Razor        10000000
41      PD-42                Razer Book 13      Razor         6400000
42      PD-43               Razer Blade 15      Razor         8800000
43      PD-44       Razer Blade Stealth 13      Razor         7200000

### **Tabla de Detalles de Factura**

Esta tabla contiene claves foráneas que hacen referencia a las tablas de Facturas y Productos. Para crear estas claves foraneas se puede utilizar `merge` de pandas para combinar los DataFrames y obtener los IDs correspondientes. Ademas, mediante el ciclo for se itera sobre las columnas de productos en la tabla de facturas para extraer los detalles de cada producto vendido y asi obtener una tabla donde tengo una venta condiferentes productos es decir 1:N.

In [12]:
detalleFactura = pd.DataFrame(columns=['VentaID', 'ProductoID', 'Cantidad', 'Subtotal'])
for i in [1,2,3]:
    temp = df[['VentaID', f'NombreProducto{i}', f'MarcaProducto{i}', f'CantidadProducto{i}', f'SubtotalProducto{i}']]
    temp = temp.merge(productos, left_on=[f'NombreProducto{i}', f'MarcaProducto{i}'], right_on=['NombreProducto', 'Marca'], how='left')
    temp = temp[['VentaID', 'ProductoID', f'CantidadProducto{i}', f'SubtotalProducto{i}']]
    temp = temp.rename(columns={f'CantidadProducto{i}': 'Cantidad', f'SubtotalProducto{i}':'Subtotal'})
    detalleFactura = pd.concat([detalleFactura, temp], ignore_index=True)

detalleFactura = detalleFactura.dropna().reset_index(drop=True)
detalleFactura['Cantidad'] = detalleFactura['Cantidad'].astype(int)
detalleFactura['Subtotal'] = detalleFactura['Subtotal'].astype(int)
detalleFactura['VentaID'] = detalleFactura['VentaID'].astype(int)
detalleFactura['ProductoID'] = detalleFactura['ProductoID'].astype(object)
detalleFactura = detalleFactura.merge(facturas, on='VentaID')
detalleFactura.sort_values(by=['VentaID'], inplace=True)
detalleFactura.reset_index(drop=True, inplace=True)
detalleFactura = generate_ids(detalleFactura, 'DetalleID', 'Detail-')
detalleFactura = detalleFactura[['DetalleID', 'VentaID', 'ProductoID', 'Cantidad', 'Subtotal', 'DescuentoVenta', 'TotalVenta']]

detalleFactura

,DetalleID,VentaID,ProductoID,Cantidad,Subtotal,DescuentoVenta,TotalVenta
0,Detail-1,1,PD-1,1,9600000,0,31200000
1,Detail-2,1,PD-3,1,5600000,0,31200000
2,Detail-3,1,PD-22,2,16000000,0,31200000
3,Detail-4,2,PD-2,1,4000000,0,10800000
4,Detail-5,2,PD-21,1,6800000,0,10800000
...,...,...,...,...,...,...,...
60054,Detail-60055,29998,PD-29,1,5600000,0,5600000
60055,Detail-60056,29999,PD-2,1,4000000,0,10800000
60056,Detail-60057,29999,PD-21,1,6800000,0,10800000
60057,Detail-60058,30000,PD-13,2,6000000,5,9025000
60058,Detail-60059,30000,PD-10,1,3500000,5,9025000

### **Metricas Principales**

In [13]:
clientes['GeneroCliente'].value_counts()

GeneroCliente
M    11366
F     6087
Name: count, dtype: int64

In [14]:
# Ventas por marca

ventas = detalleFactura.merge(productos, on='ProductoID')

mas_vendidos = (ventas.groupby('Marca')['Cantidad'].sum().sort_values(ascending=False))

mas_vendidos

Marca
Lenovo       21697
HP           19877
Dell         16189
Apple        10783
Asus          8097
Acer          7178
Samsung       2618
Microsoft     1717
MSI           1374
Razer          443
Razor           39
Name: Cantidad, dtype: int64

In [15]:
# Top 10 productos mas vendidos

ventas = detalleFactura.merge(productos, on='ProductoID')

mas_vendidos = (ventas.groupby('NombreProducto')['Cantidad'].sum().sort_values(ascending=False))

mas_vendidos.head(10)

NombreProducto
HP Spectre x360              7726
Lenovo Legion 5 Pro          5861
Lenovo ThinkPad X1 Carbon    5814
Lenovo Yoga 7i               5052
HP Omen 16                   5011
Lenovo IdeaPad 5             4970
Dell XPS 13                  4526
Dell Latitude 7420           4507
HP Pavilion 15               4029
Dell Alienware m15           3658
Name: Cantidad, dtype: int64

### Validacion del modelo relacional

* Si FacturaID en DetalleFacturas no existe en Facturas → error.
* Si ProductoID no está en Productos → error.

In [16]:
try:
    factura_pedida = int(input("Digite el número de factura a buscar: "))

    if factura_pedida in facturas['VentaID'].values:
        print("Factura encontrada")
        print(facturas[facturas['VentaID'] == factura_pedida])

        if factura_pedida in detalleFactura['VentaID'].values:
            print("\n Estos son los detalles de la factura:")
            print(detalleFactura[detalleFactura['VentaID'] == factura_pedida])
        else:
            print("La factura existe pero no tiene detalle")
            print(facturas[facturas['VentaID'] == factura_pedida])

    else:
        print("La factura no existe")

except ValueError:
    print("Debe ingresar un número válido")

Factura encontrada
   VentaID                        FechaVenta      HoraVenta  SucursalID  \
2        3  domingo, 23 de diciembre de 2018  2:32:34 a. m.  SUCURSAL-3

  VendedorID ClienteID MetodoID  DescuentoVenta  TotalVenta
2       VE-3      CL-3     MP-3               0    21900000

 Estos son los detalles de la factura:
  DetalleID  VentaID ProductoID  Cantidad  Subtotal  DescuentoVenta  \
5  Detail-6        3       PD-9         1   7200000               0
6  Detail-7        3      PD-10         1   3500000               0
7  Detail-8        3       PD-3         2  11200000               0

   TotalVenta
5    21900000
6    21900000
7    21900000

In [17]:
try:
    producto_pedido = input("Digite el ID del Producto (PD-): ")

    if producto_pedido in productos['ProductoID'].values:
        print("Producto Encontrado")
        print(productos[productos['ProductoID'] == producto_pedido])
    else:
        raise ValueError

except ValueError:
    print("Recuerda que el ID del producto es PD-# Escribe todo")

Producto Encontrado
  ProductoID               NombreProducto    Marca  PrecioUnitario
5       PD-6  Samsung Galaxy Book Odyssey  Samsung         6800000

### Exportacion del modelo relacional

Se guardo en un archivo Excel WorkBook, cada tabla en un Sheet diferente con su respectivo nombre para su uso en Power BI.

In [18]:
Excel_path = 'modeloVentas.xlsx'

with pd.ExcelWriter(Excel_path, engine='openpyxl') as writer:
    clientes.to_excel(writer, sheet_name='Clientes', index=False)
    vendedores.to_excel(writer, sheet_name='Vendedores', index=False)
    ciudades.to_excel(writer, sheet_name='Ciudades', index=False)
    sucursales.to_excel(writer, sheet_name='Sucursales', index=False) 
    metodoPago.to_excel(writer, sheet_name='MetodoPago', index=False)
    productos.to_excel(writer, sheet_name='Productos', index=False)
    facturas.to_excel(writer, sheet_name='Facturas', index=False)
    detalleFactura.to_excel(writer, sheet_name='DetallesFacturas', index=False)